<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="menu">User List</button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <a [routerLink]="['user-list-without-ngrx']" mat-button> without NGRX </a>

  <a [routerLink]="['user-list-with-ngrx']" mat-button> with NGRX </a>
</mat-menu>

<router-outlet></router-outlet>

<!-- <app-user-list-without-ngrx></app-user-list-without-ngrx> -->
