<mat-card>
  <mat-card-header>
    <mat-card-title> User List (Without NGRX) </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <mat-progress-bar *ngIf="isLoading" type="query"></mat-progress-bar>
    <app-user-list-table [userList]="userList" fxFlex> </app-user-list-table>
    <mat-paginator [pageSize]="limit" [pageIndex]="page - 1" [length]="total" (page)="onPage($event)"></mat-paginator>
  </mat-card-content>
</mat-card>
