<table mat-table [dataSource]="userList" fxFlex>
  <ng-container matColumnDef="photo">
    <th mat-header-cell *matHeaderCellDef>photo</th>
    <td mat-cell *matCellDef="let user">
      <img [src]="user.photoUrl" class="user-avatar" />
    </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef>username</th>
    <td mat-cell *matCellDef="let user">
      {{ user.username }}
    </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>email</th>
    <td mat-cell *matCellDef="let user">
      {{ user.email }}
    </td>
  </ng-container>

  <ng-container matColumnDef="alias">
    <th mat-header-cell *matHeaderCellDef>alias</th>
    <td mat-cell *matCellDef="let user">
      {{ user.alias }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
