<mat-toolbar>
  <a [routerLink]="['shop-list-without-ngrx']" mat-raised-button> without NGRX </a>

  <a [routerLink]="['shop-list-with-ngrx']" mat-raised-button> with NGRX </a>
</mat-toolbar>

<router-outlet></router-outlet>
