<mat-card *ngIf="state$ | async as state">
  <mat-card-header>
    <mat-card-title> User List (With NGRX) </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <div fxLayout="column">
      <mat-progress-bar *ngIf="state.isLoading" type="query"></mat-progress-bar>
      <app-user-list-table [userList]="state.docs" fxFlex> </app-user-list-table>
      <mat-paginator [pageSize]="state.limit" [pageIndex]="page - 1" [length]="total" (page)="onPage($event)">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
